{{ if or (eq .env.applyMode "terminal") (eq .env.applyMode "all") -}}

# The following folders will be applied when the .env.applyMode
# of .chezmoidata.toml is set to "terminal" or "all".

[".oh-my-zsh"]
  type = "archive"
  url = "https://github.com/ohmyzsh/ohmyzsh/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-autosuggestions/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-completions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-completions/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-history-substring-search"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-history-substring-search/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/you-should-use"]
  type = "archive"
  url = "https://github.com/MichaelAquilina/zsh-you-should-use/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/fzf-tab"]
  type = "archive"
  url = "https://github.com/Aloxaf/fzf-tab/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/forgit"]
  type = "archive"
  url = "https://github.com/wfxr/forgit/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
  type = "archive"
  url = "https://github.com/romkatv/powerlevel10k/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".tmux"]
  type = "archive"
  url = "https://github.com/gpakosz/.tmux/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
{{- end }}

{{ if or (eq .env.applyMode "appearance") (eq .env.applyMode "terminal") (eq .env.applyMode "vscode") (eq .env.applyMode "all") -}}

# The following folders will be applied when the .env.applyMode
# of .chezmoidata.toml is set to "appearance", "vscode", "terminal" or "all".

[".local/share/fonts/caskaydia-cove"]
  type = "archive"
  url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/CascadiaCode.zip"
  exclude = ["*.md", "*Windows Compatible*", "LICENSE*"]
  refreshPeriod = "168h"
[".local/share/fonts/fura-mono"]
  type = "archive"
  url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraMono.zip"
  exclude = ["*.md", "*Windows Compatible*", "LICENSE*"]
  refreshPeriod = "168h"
[".local/share/fonts/fira-sans"]
  type = "archive"
  url = "https://fonts.google.com/download?family=Fira%20Sans"
  exclude = ["OFL.txt"]
  refreshPeriod = "168h"
[".local/share/fonts/earwig-factory"]
  type = "archive"
  url = "https://www.1001fonts.com/download/earwig-factory.zip"
  exclude = ["*.pdf"]
  refreshPeriod = "168h"
{{- end }}

{{ if or (eq .env.applyMode "appearance") (eq .env.applyMode "all") -}}

# The following folders will be applied when the .env.applyMode
# of .chezmoidata.toml is set to "appearance" or "all".

[".local/share/gedit/styles/nord.xml"]
  type = "file"
  url = "https://raw.githubusercontent.com/nordtheme/gedit/develop/src/xml/nord.xml"
  refreshPeriod = "168h"
[".themes/Nordic-darker-v40"]
  type = "archive"
  url = "https://github.com/EliverLara/Nordic/releases/latest/download/Nordic-darker-v40.tar.xz"
  stripComponents = 1
  refreshPeriod = "168h"
[".themes/Nordic-persona-5/gnome-shell/assets"]
  type = "archive"
  url = "https://github.com/EliverLara/Nordic/releases/latest/download/Nordic-darker-v40.tar.xz"
  stripComponents = 3
  refreshPeriod = "168h"
  include = ["Nordic-darker-v40/gnome-shell/assets/**"]
[".themes/Nordic-persona-5-transparent-center-panel/gnome-shell/assets"]
  type = "archive"
  url = "https://github.com/EliverLara/Nordic/releases/latest/download/Nordic-darker-v40.tar.xz"
  stripComponents = 3
  refreshPeriod = "168h"
  include = ["Nordic-darker-v40/gnome-shell/assets/**"]
[".icons/Nordic-cursors"]
  type = "archive"
  url = "https://github.com/EliverLara/Nordic/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 4
  include = ["*/kde/cursors/Nordic-cursors/**"]
  refreshPeriod = "168h"
[".icons"]
  type = "archive"
  url = "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/archive/refs/heads/master.zip"
  stripComponents = 1
  include = ["*/Papirus/**"]
  refreshPeriod = "168h"
[".icons/Papirus/64x64/places"]
  type = "archive"
  url = "https://github.com/Adapta-Projects/Papirus-Nord/releases/latest/download/Papirus-Nord.tar.xz"
  stripComponents = 2
  include = ["Icons/64x64/**"]
  refreshPeriod = "168h"
[".icons/Papirus/48x48/places"]
  type = "archive"
  url = "https://github.com/Adapta-Projects/Papirus-Nord/releases/latest/download/Papirus-Nord.tar.xz"
  stripComponents = 2
  include = ["Icons/48x48/**"]
  refreshPeriod = "168h"
[".icons/Papirus/32x32/places"]
  type = "archive"
  url = "https://github.com/Adapta-Projects/Papirus-Nord/releases/latest/download/Papirus-Nord.tar.xz"
  stripComponents = 2
  include = ["Icons/32x32/**"]
  refreshPeriod = "168h"
[".icons/Papirus/24x24/places"]
  type = "archive"
  url = "https://github.com/Adapta-Projects/Papirus-Nord/releases/latest/download/Papirus-Nord.tar.xz"
  stripComponents = 2
  include = ["Icons/24x24/**"]
  refreshPeriod = "168h"
[".icons/Papirus/22x22/places"]
  type = "archive"
  url = "https://github.com/Adapta-Projects/Papirus-Nord/releases/latest/download/Papirus-Nord.tar.xz"
  stripComponents = 2
  include = ["Icons/22x22/**"]
  refreshPeriod = "168h"
{{- end }}
