#!/bin/bash

configs=( $(find {{ .chezmoi.sourceDir }}/gnome -type f) )

for config in "${configs[@]}"; do
  path="${config%.ini}"
  path="${path#{{ .chezmoi.sourceDir }}/}"

  dconf load "/org/$path/" < $config
done
