/**
 * BASE PANEL THEME
 */
#panel {
  background-gradient-direction: none;
  background-color: transparent;
  margin-top: 2px;
  margin-bottom: 2px;

  /* transition from solid to transparent */
  transition-duration: 500ms;
  height: 2.1em;
  padding: 0px 0px;
}
#panel .panel-button {
  box-shadow: inset 0 0 0 100px #eceff4;
  border-radius: 10px;
  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
  font-weight: bold;
  color: #4c566a;
  transition-duration: 100ms;
}
#panel .panel-button:hover {
  box-shadow: inset 0 0 0 100px #2e3440;
  color: #eceff4;
}
#panel .panel-button:active,
#panel .panel-button:overview,
#panel .panel-button:focus,
#panel .panel-button:checked {
  box-shadow: inset 0 0 0 100px #2e3440;
  color: #eceff4;
  border-color: #eceff4;
}
#panel #panelLeft,
#panel #panelCenter {
  spacing: 0px;
}

/**
 * LEFT PANEL THEME
 */
#panel #panelLeft .panel-button {
  box-shadow: inset 0 0 0 100px {{ .leftPanelPrimaryColor }};
  color: {{ .leftPanelSecondaryColor }};
  border-radius: 10px;
  border-color: {{ .leftPanelSecondaryColor }};
  border-width: 2px;
  margin-left: 1px;
  margin-right: 1px;
}
#panel #panelLeft .panel-button:hover,
#panel #panelLeft .panel-button:active,
#panel #panelLeft .panel-button:overview,
#panel #panelLeft .panel-button:focus,
#panel #panelLeft .panel-button:checked {
  box-shadow: inset 0 0 0 100px {{ .leftPanelSecondaryColor }};
  color: {{ .leftPanelPrimaryColor }};
  border-color: {{ .leftPanelPrimaryColor }};
}

/**
 * CENTER PANEL THEME
 */
#panel #panelCenter .panel-button {
  {{ if eq .centerPanelIsTransparent true }}
    background-color: transparent;
    box-shadow: inset 0 0 0 5px {{ .centerPanelPrimaryColor }};
  {{ else }}
    box-shadow: inset 0 0 0 100px {{ .centerPanelPrimaryColor }};
  {{ end }}
  color: {{ .centerPanelSecondaryColor }};
  border-radius: 10px;
  border-color: {{ .centerPanelSecondaryColor }};
  border-width: 2px;
  margin-left: 1px;
  margin-right: 1px;
}
#panel #panelCenter .panel-button:hover,
#panel #panelCenter .panel-button:active,
#panel #panelCenter .panel-button:overview,
#panel #panelCenter .panel-button:focus,
#panel #panelCenter .panel-button:checked {
  box-shadow: inset 0 0 0 100px {{ .centerPanelSecondaryColor }};
  color: {{ .centerPanelPrimaryColor }};
  border-color: {{ .centerPanelPrimaryColor }};
}

/**
 * RIGHT PANEL THEME
 */
#panel #panelRight .panel-button {
  box-shadow: inset 0 0 0 100px {{ .rightPanelPrimaryColor }};
  color: {{ .rightPanelSecondaryColor }};
  border-radius: 10px;
  border-color: {{ .rightPanelSecondaryColor }};
  border-width: 2px;
  margin-left: 1px;
  margin-right: 1px;
}
#panel #panelRight .panel-button:hover {
  box-shadow: inset 0 0 0 100px {{ .rightPanelSecondaryColor }};
  color: {{ .rightPanelPrimaryColor }};
  border-color: {{ .rightPanelPrimaryColor }};
}
#panel #panelRight .panel-button:active,
#panel #panelRight .panel-button:overview,
#panel #panelRight .panel-button:focus,
#panel #panelRight .panel-button:checked {
  box-shadow: inset 0 0 0 100px {{ .rightPanelSecondaryColor }};
  color: {{ .rightPanelPrimaryColor }};
  border-color: {{ .rightPanelPrimaryColor }};
}
#panel .panel-button:hover.clock-display {
  box-shadow: none;
}
#panel .panel-button:hover.clock-display .clock {
  box-shadow: inset 0 0 0 100px {{ .rightPanelSecondaryColor }};
}
#panel .panel-button:active.clock-display,
#panel .panel-button:overview.clock-display,
#panel .panel-button:focus.clock-display,
#panel .panel-button:checked.clock-display {
  box-shadow: none;
}
#panel .panel-button:active.clock-display .clock,
#panel .panel-button:overview.clock-display .clock,
#panel .panel-button:focus.clock-display .clock,
#panel .panel-button:checked.clock-display .clock {
  box-shadow: inset 0 0 0 100px {{ .rightPanelSecondaryColor }};
}
