{{- $centerPanelIsTransparent := true -}}

{{- $scriptPath := printf "%s/scripts/get-gnome-shell-css.sh" .chezmoi.sourceDir -}}
{{- $originalGnomeShellCss := output $scriptPath -}}
{{- $modifiedPanelGnomeShellCss := includeTemplate ".themes/gnome-shell/gnome-shell.css.tmpl" (dict "centerPanelIsTransparent" $centerPanelIsTransparent "color" .color) -}}

{{- $originalGnomeShellCss }}
{{ $modifiedPanelGnomeShellCss -}}
