[core]
    editor = codium --wait
    pager = delta

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/delta/themes.gitconfig

[delta]
    features = nordic
    navigate = true
    hyperlinks = true
    hyperlinks-file-link-format = "codium://file/{path}:{line}"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
