/**
 * DASH TO DOCK THEME
 */
#dashtodockContainer.bottom #dash .dash-background {
  border-radius: 10px !important;
  border: 2px;
  border-color: #eceff4;
  box-shadow: inset 0 0 0 100px #2e3440;
}

/**
 * ARC MENU
 */
.arcmenu-menu .popup-menu-content {
  border-radius: 10px;
  border: 2px;
  border-color: #eceff4;
  padding-bottom: 15px;
}

.arcmenu-menu .arcmenu-search-entry {
  background-image: url("{{ .chezmoi.homeDir }}/.wallpapers/morgana.png");
  padding: 30px 9px;
  background-size: contain;
  border-width: 2px !important;
  border-color: #eceff4 !important;
  font-size: 16px;
  font-weight: 500;
}

.arcmenu-menu .arcmenu-button {
  border-width: 2px !important;
  border-color: #eceff4 !important;
}
