{{- $centerPanelIsTransparent := false -}}

{{- $originalGnomeShellCss := output "scripts/get-gnome-shell-css.sh" -}}
{{- $modifiedPanelGnomeShellCss := includeTemplate ".themes/gnome-shell/gnome-shell.css.tmpl" (dict "centerPanelIsTransparent" $centerPanelIsTransparent "color" .color) -}}

{{- $originalGnomeShellCss }}
{{ $modifiedPanelGnomeShellCss -}}
